[submodule "wp-content/plugins/advanced-custom-fields-number-slider"]
	path = wp-content/plugins/advanced-custom-fields-number-slider
	url = https://github.com/qstudio/advanced-custom-fields-number-slider
